<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- src/main/resources -->
<!-- 폴더 mappers 만들기 -->
<!-- 파일 memberMapper.xml 만들기 -->


<!-- 파일이름 대신에 namespace 이름을 불러서 사용 -->

<mapper namespace="com.itwillbs.mappers.memberMapper">

<!-- id="이름" sql구문 하나 하나 이름 
	 ? 대신에 MemberDTO 멤버변수명 #{id}-->
	<insert id="insertMember">
		insert into members(id,pass,name,date) values(#{id},#{pass},#{name},#{date}) 
		<!-- ; 넣으면 X -->
	</insert> 

    <select id="userCheck" resultType="com.itwillbs.domain.MemberDTO">
        select * from members 
        where id = #{id} and pass = #{pass}
    </select>
    

	
<!-- 	<update id=""> -->
<!-- 	</update> -->
	
<!-- 	<delete id=""> -->
<!-- 	</delete> -->
	
</mapper>

<!-- src/main/resources -->
<!-- mybatis-config.xml 파일 만들기 -->